<div class="card-group">
    <div class="form-group row">
        @*<label class="col-form-label text-right col-md-8">Новое значение:</label>*@
        <div class="col-md-8">
            <input class="form-control" type="text" id="tSvalue" value="0" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <button class="btn btn-info m-l-15" type="button" id="bInsertNewValue">Добавить</button>
        </div>
    </div>
</div>