@{
    ViewData["Title"] = "Lab 2 ";
}
<h1>@ViewData["Title"]</h1>

<p>Лаборатоная работа № 2</p>

<div class="card-body">
   <div class="card-header">
 
   </div>
   <div class="card-body">
             <label>Коэфициент ассиметрии А</label>
                <span class="form-text" id="sAssimetry"></span>
             <label>Кэфициент эксцесса Е</label>
                 <span class="form-text" id="sExcess"></span>
   </div>
</div> 