@{
    ViewData["Title"] = "Lab 4 ";
}
<h1>@ViewData["Title"]</h1>

<p>Лаборатоная работа № 4</p>

<div class="card">
    <div class="card-header">
        <span>Теоретические и эмпирические частоты попадания случайной величины в заданные интервалы.</span>
    </div>
    <div class="card-body">
        <div id="tableLab4Result">

        </div>
    </div>
</div>